body {
    margin: 0;
    font-family: sans-serif;
}

main {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.loading, .loading:after {
    display: none;
}

#map {
    height: 100%;
}

#popup {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 100;
    background-color: rgba(221, 221, 221, 0.9);
    color: #1f1f1f;
    border-color: #1f1f1f;
    border-width: 1px;
    border-radius: 3px;
    padding: 20px;
    display: none;
    max-width: 300px;
}

#legend {
    position: fixed;
    bottom: 30px;
    right: 10px;
    z-index: 100;
    background-color: rgba(221, 221, 221, 0.9);
    color: #1f1f1f;
    border-radius: 3px;
    padding: 20px;
}

#legend .color {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: solid 1px black;
}

h4 {
    margin: 0 0 10px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    color: #1f1f1f;
    background-color: rgba(221, 221, 221, 0.9);
    border-radius: 3px;
    margin: 10px 370px 10px 10px;
    padding: 20px;
}

a {
    color: #1f1f1f;
}

header h3 {
    margin: 0 0 5px;
}

.subtitle {
    font-size: 0.8em;
}
