body {
    margin: 0;
    font-family: sans-serif;
}

main {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.loading, .loading:after {
    display: none;
}

#map {
    height: 100%;
}

#popup {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 100;
    background-color: rgba(193, 193, 193, 0.48);
    color: #1f1f1f;
    border-color: #1f1f1f;
    border-width: 1px;
    border-radius: 3px;
    padding: 0 25px 25px;
    display: none;
    max-width: 300px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 360px;
    z-index: 100;
    color: #1f1f1f;
    background-color: rgba(193, 193, 193, 0.48);
    border-radius: 3px;
    margin: 10px;
    padding: 10px;
}

a {
    color: #1f1f1f;
}

.title {
    font-size: 1.6em;
}

.subtitle {
    font-size: 0.8em;
}
